#body{
    margin:auto;
    background-image: url(Images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.words{
    color:white;
}
#body>img{
    opacity:0.6;
}
.heading{
    color:antiquewhite;
    background-color:coral
}
.FullTile{
    height:3200px;
    width:100%;
}
.TopTile{
    height:380px;
    width:100%;
}
.picTile{
    height:340px;
    width:300px;
    margin-top:1%;
    float:left;
    margin-left:8%;
}
.picTile>img{
    height:350px;
    width:350px;
}
.DesTile{
    height:340px;
    width:450px;
    margin-top:1%;
    margin-left:10%;
    color:white;
    float:left;
}
.divide{
    background-color:white;
}
.BottomTile{
    height:2500px;
    width:90%;
    margin-top:2%;
    margin-left:5%;
}
.edubox{
    width:88%;
    margin-left:10%;
    margin-top:3%;
    display: inline-block;
}
.edubox>img{
    margin-left:20%;
   
}
.eduDes{
    margin-left:40%;
    margin-top:-10%;
}
.skillbox{
    height:150px;
    margin-top:7%;
}
.hobbiebox{
    height:150px;
    margin-top:8%;
}
.hobbiebox>img{
    height:300px;
    width:20%;
}
.workbox{
    height:500px;
    margin-top:8%;
}
.locBox{
    height:300px;
    margin-top:35%;
    background-color:transparent;
}
.map{
    margin-left:2%;
    float:left;
}
.formSpace{
    margin-left:5%;
    float:left;
    color:white;
    background-color:transparent;
}
#footerword{
    color:bisque;
}



  
  